---
import BaseRow from '../components/base-row'
import cn from "../lib/class-names"

export interface Props {
  className?: string
}

let { className } = Astro.props
---

<BaseRow className={cn("gap-x-4", className)}>
  <section class="hidden lg:block w-5/100">
    <slot name="left" />
  </section>
  <article class="w-full lg:w-70/100">
    <slot name="main" />
  </article>
  <section class="hidden lg:block w-25/100">
    <slot name="right" />
  </section>
</BaseRow>