---
import BaseRow from '../components/base-row'

export interface Props {
  className?: string
}

let { className } = Astro.props
---

<BaseRow className={className}>
  <section class="hidden lg:block w-1/20 mr-4">
    <slot name="left-col" />
  </section>
  <article class="w-full lg:w-7/10">
    <slot name="s1" />
  </article>
  <section class="hidden lg:block w-1/4 pl-8">
    <slot name="s2" />
  </section>
</BaseRow>