---
import cn from "../lib/class-names"
import IClassProps from "../types/class-props";

export interface Props extends IClassProps {
  
}

let { className } = Astro.props
---

<div class={cn("flex flex-row gap-x-4", className)}>
  <section class="hidden lg:block w-5/100">
    <slot name="left" />
  </section>
  <article class="w-full lg:w-70/100">
    <slot name="main" />
  </article>
  <section class="hidden lg:block w-25/100">
    <slot name="right" />
  </section>
</div>