---
import BaseRow from '../components/base-row'
---
  <BaseRow>
    <article class="w-full lg:w-7/10"><slot name="s1" /></article>
    <div class="hidden lg:block w-3/10 pl-8"><slot name="s2" /></div>
  </BaseRow>
