---
import BaseRow from '../components/base-row'
---

<BaseRow>
  <article class="w-full lg:w-3/4">
    <slot name="s1" />
  </article>
  <div class="hidden lg:block w-1/4 pl-8">
    <slot name="s2" />
  </div>
</BaseRow>